*.py[cod]

# executables

limboole
testlimboole
dimacs2boole

picosat
!picosat/
minisat
minisat_release
!minisat/
picomus
picogcnf
picomcs
saucy
bliss
!bliss/

lingeling
!lingeling/
 
cobra-backend
cobra/test/test
!cobra/
sharpSAT
!sharpSAT/

# tmp files
.cobra.in

# sys blabla
*.DS_Store
local/

# latex
*.out
*.log
*.dvi
*.blg
*_latexmk
*.fls
*.aux

# C extensions
*.so
*.o
*.a
*.d
*.or
*.od
depend.mk

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
